.price-table {
  display: flex;
  background-color: #141b1c;
  margin: 0 132px 35px 150px;
}

.price-card {
  display: inline-block;
  height: 770px;
  width: 380px;
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  margin-top: 65px;
  margin-right: 18px;
}
.price-card__header {
  height: 64px;
  width: 100px;
  margin: 33px 0 0 140px;
  color: #ffffff;
}
.price-card__title {
  margin: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
}
.price-card__title_business_title {
  float: left;
  height: 64px;
  width: 164px;
  margin: 33px 0 0 108px;
  color: #ffffff;
}
.price-card__title_webshop_title {
  height: 64px;
  width: 176px;
  margin: 33px 0 0 102px;
  color: #ffffff;
}
.price-card__subtitle {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.price-card__price {
  height: 105px;
  width: 380px;
  background: #5bb189;
  margin-top: 36px;
  padding: 19px 110px;
  height: 67px;
  width: 160px;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  color: #ffffff;
}
.price-card__price_business_price {
  background: #3a6ba5;
  margin-top: 28px;
}
.price-card__price_webshop_price {
  background: #ec632a;
}
.price-card__description {
  height: 36px;
  width: 327px;
  margin-top: 40px;
  padding-left: 26px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
.price-card__options-list {
  margin-top: 40px;
  height: 300px;
  width: 380px;
  list-style-position: inside;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding: 0;
}
.price-card__text-size {
  height: 18px;
  width: 163px;
}
.price-card__order-btn {
  height: 40px;
  width: 155px;
  margin: 39px 113px 40px 112px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #5bb189;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.price-card__order-btn_business_order-btn {
  background: #3a6ba5;
}
.price-card__order-btn_webshop_order-btn {
  background: #ec632a;
}
.price-card_business__title {
  float: left;
  height: 64px;
  width: 164px;
  margin: 33px 0 0 108px;
  color: #ffffff;
}
.price-card_business__label {
  height: 105px;
  width: 104px;
  margin-left: 276px;
}
.price-card_business__label-ribbon {
  padding-top: 37px;
  width: 98px;
  border-bottom: 25px solid #dc3f45;
  transform: rotate(45deg);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.price-card_business__label-text {
  position: absolute;
  padding: 4px 0 0 13px;
  margin: 0;
  height: 17px;
  width: 76px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.price-card_business__price {
  background: #3a6ba5;
  margin-top: 28px;
}
.price-card_business__box-image {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
  background-repeat: no-repeat;
}
.price-card_business__order-btn {
  background: #3a6ba5;
}
.price-card_webshop__title {
  height: 64px;
  width: 176px;
  margin: 33px 0 0 102px;
  color: #ffffff;
}
.price-card_webshop__price {
  background: #ec632a;
}
.price-card_webshop__box-image {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
  background-repeat: no-repeat;
}
.price-card_webshop__order-btn {
  background: #ec632a;
}

.option {
  display: flex;
  height: 50px;
  width: 380px;
}
.option:nth-child(2n+1) {
  background-color: #2a3438;
}
.option__icon {
  height: 15px;
  width: 15px;
  margin: 18px 22px 0 22px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
  background-repeat: no-repeat;
}
.option__icon_business_box-image {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
  background-repeat: no-repeat;
}
.option__icon_webshop_box-image {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
  background-repeat: no-repeat;
}
.option__text {
  height: 18px;
  width: 300px;
  margin-top: 16px;
}

.promotion {
  height: 105px;
  width: 104px;
  margin-left: 276px;
}
.promotion__wrapper {
  padding-top: 37px;
  width: 98px;
  border-bottom: 25px solid #dc3f45;
  transform: rotate(45deg);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.promotion__text {
  position: absolute;
  padding: 4px 0 0 13px;
  margin: 0;
  height: 17px;
  width: 76px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

html {
  font-family: "Montserrat", sans-serif;
  color: #2b292b;
}

body {
  width: 100%;
  height: 100%;
  background-color: #141b1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
