.price-card__business {
  height: 770px;
  width: 380px;
  background: #334247;
  margin-top: 97px;
  border-top: 18px solid #141b1c;
  border-right: 18px solid #141b1c;

  &__title {
    float: left;
    height: 64px;
    width: 164px;
    margin: 33px 0 0 108px;

    color: #ffffff;
  }

  &__label {
    height: 105px;
    width: 104px;
    margin-left: 276px;

    &__ribbon {
      padding-top: 37px;
      width: 98px;
      border-bottom: 25px solid #dc3f45;
      transform: rotate(45deg);
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
    }

    &__text {
      position: absolute;
      padding: 4px 0 0 13px;
      margin: 0;
      height: 17px;
      width: 76px;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;

      color: #ffffff;
    }
  }

  &__description {
    height: 36px;
    width: 327px;
    padding-top: 40px;
    padding-left: 26px;

    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #ffffff;
  }

  &__options-list {
    padding-top: 40px;
    height: 300px;
    width: 380px;
    list-style-position: inside;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #ffffff;

    &__box {
      display: flex;
      height: 50px;
      width: 380px;

      &:nth-child(2n + 1) {
        background-color: #2a3438;
      }

      &__image {
        height: 15px;
        width: 13px;
        margin: 18px 22px 0 22px;
        background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
      }

      &__text {
        height: 18px;
        width: 300px;
        margin-top: 16px;
      }
    }
  }

  &__order-btn__btn {
    height: 40px;
    width: 155px;
    margin: 39px 113px 40px 112px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    background: #3a6ba5;
    border-radius: 20px;
    border: none;
  }
}

.price-card__price__business {
  height: 105px;
  width: 380px;
  background: #3a6ba5;
  margin-top: 25px;

  &__text {
    padding: 19px 110px;
    height: 67px;
    width: 160px;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;

    color: #ffffff;
  }
}
