.price-card_webshop {
  &__title {
    height: 64px;
    width: 176px;
    margin: 33px 0 0 102px;
    color: $white-color;
  }

  &__price {
    background: $orange-color;
  }

  &__box-image {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    background-repeat: no-repeat;
  }

  &__order-btn {
    background: $orange-color;
  }
}
