.price-table {
  display: flex;
  background-color: $base-background;
  margin: 0 132px 35px 150px;
}

.price-card {
  display: inline-block;
  height: 770px;
  width: 380px;
  background: $second-background;
  box-shadow: 0px 6px 6px $box-shadow-color;
  margin-top: 65px;
  margin-right: 18px;

  &__header {
    height: 64px;
    width: 100px;
    margin: 33px 0 0 140px;
    color: $white-color;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
  }

  &__subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &__price {
    height: 105px;
    width: 380px;
    background: $green-color;
    margin-top: 36px;
    padding: 19px 110px;
    height: 67px;
    width: 160px;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: $white-color;
  }

  &__description {
    height: 36px;
    width: 327px;
    margin-top: 40px;
    padding-left: 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $white-color;
  }

  &__options-list {
    margin-top: 40px;
    height: 300px;
    width: 380px;
    list-style-position: inside;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: $white-color;
    padding: 0;
  }

  &__text-size {
    height: 18px;
    width: 163px;
  }

  &__order-btn {
    height: 40px;
    width: 155px;
    margin: 39px 113px 40px 112px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $white-color;
    background: $green-color;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
}

.option {
  display: flex;
  height: 50px;
  width: 380px;

  &:nth-child(2n + 1) {
    background-color: $list-background;
  }

  &__icon {
    height: 15px;
    width: 15px;
    margin: 18px 22px 0 22px;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    background-repeat: no-repeat;
  }

  &__text {
    height: 18px;
    width: 300px;
    margin-top: 16px;
  }
}
