$base-background: #141b1c;
$second-background: #334247;
$list-background: #2a3438;
$box-shadow-color: #000000;

$white-color: #ffffff;
$green-color: #5bb189;
$orange-color: #ec632a;
$blue-color: #3a6ba5;
